
body{
    margin: 0;
    padding: 0;
    background-color: #9CCED9;
}
header{
    margin-right:auto;
    margin-left:auto; 
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 24px;
    color:#FDF4AC;
    font-style: oblique;
    text-align: center;
    
}

.main-form{
    width: 370px;
    height: 260px;
    top: 50px;
    padding: 10px;
    margin-right:auto;
    margin-left:auto; 
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid  whitesmoke;
    background-color: #9CCED9;

}

#calculator-form{
    float: left;
    width: 180px;
    height: 260px;
 
}

#classes-times{
    float: right;
    overflow: auto;
    height: 220px;
    width: 180px;
  
}

#result-times{
    float: right;
    text-align: right;
    color: white;
    height: 42px;
    width: 180px;

}

#input-name{
    height: 70%;
 
}

#result-name{
    font-family: Helvetica, sans-serif;
    font-size: 18px;      
    color: white;
    width: 100%;
    height: 20%;
    margin-top: 7%;
}

.btn{
    text-decoration: none;
    width: 85px;
    padding: 2px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #F2B6C1;
    border-radius: 2px;
    border: 5px solid#F2B6C9 ;
}

.pNewLineHour{
    font-size: 14px;
    text-align: right;
    color: white;
    margin-left:10px;
    margin-right:10px;
    margin-top:2px;
    margin-bottom:2px;

}


#calculator-form{
    height: 60px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 

    background-color: rgb(236, 22, 122);
    
}

#result-Math{
    font-family: Helvetica, sans-serif;
    font-size: 18px;      
    color: white;
    height: 50px;
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: brown;
}


#list-form{
    height: 50px;
    width: 100%;
    background-color: rgb(236, 22, 122);
    
}

#list-form li {
  text-align: center;
  list-style:none; 
  display: inline-block;
  font-size: 24px;
  color: white;
}


#result-Math{
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 12px;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: brown;
}

#result-min-number{
    float: left;;
    margin: 3px;
    background-color: rgb(12, 236, 150);
    width: 85px;
    height: 50px;
}
#result-max-number{
    float: left;
    margin: 3px;
    background-color: rgb(32, 137, 223);
    width: 85px;
    height: 50px;
}
#result-avg-number{
    float: left;
    margin: 3px;
    background-color: rgb(210, 223, 32);
    width: 85px;
    height: 50px;
}
#result-repeat-number{
    float: left;
    margin: 3px;
    background-color: rgb(233, 49, 73);
    width: 85px;
    height: 50px;
}